<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="trakkit-config-page outer-content" padding>

  <ng-container *ngIf="isConnecting">

    <div class="connecting">
      Connecting...
    </div>

  </ng-container>

  <ng-container *ngIf="!isConnecting">
    <div
      *ngIf="error"
      class="error"
    >
      <p>This Setup page is for Adding WiFi Profiles to your Trakkit device if WPS method can't be used.</p>
      <hr>
      <p>Not Connected to Trakkit...</p>
      <p>Make sure Trakkit is plugged in and in Setup Mode (<a (click)="openHelpVideoPage()">see Help</a>)</p> 

      <p>Then connect your Phone's Wi-Fi to Trakkit (Trakkit----)</p>

      <div class="buttons">
        <button
          ion-button
          color="default"
          (click)="openSettings()"
          type="button"
        >
          <ion-icon name='wifi'></ion-icon>
          &nbsp;
          Open WiFi Settings
        </button>
      
        <button
          ion-button
          color="default"
          (click)="tryOpenConfigPage()"
          type="button"
        >
          <ion-icon name='refresh'></ion-icon>
          &nbsp;
          Retry
        </button>
      </div>
    </div>

    <div *ngIf="!error">

      <button ion-button color="primary" (click)="tryOpenConfigPage()" type="button">
        Open settings
      </button>

    </div>

  </ng-container>

</ion-content>

