<ion-header>
  <ion-navbar>

    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>

    <ion-title>Alerts</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="alertsAndNotifications.length === 0" class="centered-text-block">
    No Alerts found
  </div>

  <ion-list>

    <ion-item-sliding *ngFor="let item of alertsAndNotifications" #ItemSliding>
      <ion-item-options
        side="left"
        (ionSwipe)="markAsSeen(item, ItemSliding)"
      >
        <button
          ion-button
          expandable
          color="primary"
        >
          <ion-icon name="eye"></ion-icon>
          Seen
        </button>
        
        <button
          ion-button
          color="secondary"
          *ngIf="!snoozed(item.device) && isTHS(item.device?.type)"
          (click)="snoozeItem(item, ItemSliding)"
        >
          Snooze
        </button>
      </ion-item-options>

      <button *ngIf="isAlert(item)" ion-item (click)="goAlertPage(item.id)">
        <h2>
          <span *ngIf="!item.seen" class="unread-circle"></span>
          <ng-container *ngIf="!item.multipleAlerts">{{ item.rule.name }}</ng-container>
          <ng-container *ngIf="item.multipleAlerts">GPS Logs</ng-container>
        </h2>
        <p>{{ item.device.name }} ({{ item.createdAt | amTimeAgo }})</p>
        <p class="slide-to-actions">Slide for Actions</p>
      </button>

      <button *ngIf="!isAlert(item)" ion-item (click)="goNotificationPage(item.id)">
        <h2>{{ item.data.title }}</h2>
        <p>{{ item.device.name }} ({{ item.createdAt | amTimeAgo }})</p>
        <p class="slide-to-actions">Slide for Actions</p>
      </button>

      <ion-item-options side="right"> 
        <button
          ion-button
          color="danger"
          (click)="removeItem(item)"
        >
          <ion-icon name="close"></ion-icon>
          Delete
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
