<ion-header>
  <ion-navbar>

    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>

    <ion-title>Trakkit</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar
    [ngClass]="{ 'light-input': searchString && searchString.length > 0 }"
    [ngModel]="searchString"
    (ionInput)="searchItems($event)"
    (ionClear)="hideKeyboard()"
  ></ion-searchbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="applyingSearch" class="applying-search">
    <ion-spinner></ion-spinner>
  </div>

    <ion-list *ngIf="firstAlerts?.length > 0">
        <div
            *ngFor="let firstAlert of firstAlerts;"
            class="first-alert"
            (click)="goDevicePage(firstAlert.deviceId)"
        >
            <div class="description">
                <h6>First Alert</h6>

                <p>{{ firstAlert.deviceName }} seen after {{ firstAlert.seenAfter }} hours.</p>
            </div>

            <div
                class="dismiss"
                (click)="dismissAlert($event, firstAlert.deviceId)"
            >Dismiss</div>
        </div>
    </ion-list>


    <div *ngIf="devices.length === 0 && !applyingSearch && searchString" class="no-items">
        No devices found
    </div>

    <ion-list *ngIf="devices.length > 0">
      <device-list-item
        *ngFor="let device of devices"
        [device]="device"
        [goDevicePage]="goDevicePage.bind(this)"
        [isHighlighted]="isHighlighted.bind(this)"
        [isHighlightedWithAlert]="isHighlightedWithAlert.bind(this)"
        (onRemove)="removeDevice($event)"
      ></device-list-item>
    </ion-list>


  <div *ngIf="!applyingSearch && !searchString && !devicesLoading" class="no-devices">

    <div class="add-button">

      <hr>

      <button
        *ngIf="showButton"
        ion-button
        color="dark"
        (click)="goCreateDevicePage()"
        type="button"
      >
        <ion-icon name="add"></ion-icon>
        &nbsp;
        Add A Trakkit to Your Account
      </button>

    </div>

  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
