page-charts {
  .loading {
    padding-top: 30px;
    text-align: center;
  }

  .tabs-container {
    display: flex;
    margin: 10px 0;
    height: 29px;
    &_name {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20%;
      border: 1px solid grey;
      border-radius: 5px;
      margin: 3px;
      font-size: 12px;
      color: black;
      cursor: pointer;
      &.active-tab {
        background: #387ef5;
        color: white;
      }
    }
  }

  .current-range {
    display: flex;
    color: black;
    font-weight: 500;
    ion-label {
      font-size: 13px;
    }
  }

  ion-card.tabs-container-card {
    border-radius: 0px !important;
    margin: 2px;
    padding: 0px;
  }

  // ion-content {
  //   background-color: #eaeaea !important;
  // }

  ion-card {
    padding: 5px;
    border-radius: 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100% !important;
    ion-card-header {
      padding: 0px !important;
    }
    ion-card-title {
      text-align: center !important;
      font-size: 18px !important;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }

    ion-card-content {
      padding: 0px !important;
    }
  }

  ion-item.temp-unit {
    .item-button {
      margin: 0px;
      width: 45px;
      &.active {
        background: #387ef5;
        color: white;
      }
    }
  }
}

div.disabled
{
  pointer-events: none;

  opacity: 0.5;
  background: #CCC;
}

.chart-title {
  padding-left: 16px;
}