<ion-header>
  <ion-navbar>
    <ion-title>Charts</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="chartType">
      <ion-segment-button value="batteryOrVolts">
        <ng-container *ngIf="isCableKitConnected">Volts</ng-container>
        <ng-container *ngIf="!isCableKitConnected">Battery</ng-container>
      </ion-segment-button>
      <ion-segment-button value="temperature">
        Temperature
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="!chartData.batteryOrVolts" class="loading">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="chartType === 'batteryOrVolts'">
    <canvas *ngIf="chartData.batteryOrVolts"
            baseChart
            [datasets]="chartData.batteryOrVolts.dataSets"
            [labels]="chartData.batteryOrVolts.labels"
            [options]="chartData.batteryOrVolts.options"
            [colors]="chartDataColors[0]"
            [legend]="chartData.batteryOrVolts.legend"
            [chartType]="chartData.batteryOrVolts.chartType"></canvas>
  </div>

  <div *ngIf="chartType === 'temperature'">
    <canvas *ngIf="chartData.temperature"
            baseChart
            [datasets]="chartData.temperature.dataSets"
            [labels]="chartData.temperature.labels"
            [options]="chartData.temperature.options"
            [colors]="chartDataColors[1]"
            [legend]="chartData.temperature.legend"
            [chartType]="chartData.temperature.chartType"></canvas>
  </div>

  <ion-list>

    <button ion-item detail-none (click)="presentDateSettings()">
      {{ dateRangeString }}
    </button>

    <ion-item>
      <ion-label>Max number of points</ion-label>
      <ion-select [(ngModel)]="maxNumberOfPointsValue">
        <ion-option *ngFor="let value of [25, 50, 100, 150, 300, 500, 1000, 'All']" [value]="value">
          {{ value }}
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="groupedBy">
    <ion-list-header>Grouped by {{ groupedBy }}s (median shown)</ion-list-header>

    <ion-item>
      <h2>Total data points</h2>
      <ion-note item-right>
        {{ pointsTotal }}
      </ion-note>
    </ion-item>

  </ion-list>

</ion-content>
