<ion-header>
  <ion-navbar>
    <ion-title>{{ device?.name }} Charts</ion-title>
  </ion-navbar>
  <!-- <ion-toolbar>
    <ion-segment [(ngModel)]="chartType">

      <ion-segment-button
        *ngFor="let type of chartTypes"
        value="{{type.value}}"
      >
        {{type.label}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
</ion-header>


<ion-content>
  <!-- <div *ngIf="dataLoading" class="applying-search">
    <ion-spinner></ion-spinner>
  </div> -->

  <!-- <div
    *ngIf="!chartData"
    class="loading"
  >
    <ion-spinner></ion-spinner>
  </div> -->

  <ion-card class="tabs-container-card">
    <ion-card-content>
      <div class="tabs-container">
        <div
          class="tabs-container_name"
          [ngClass]="{'active-tab': activeTab === 1 }"
          (click)="selectTimeDurationHour(1)"
        >
          <span>Hour</span>
        </div>
        <div
          class="tabs-container_name"
          [ngClass]="{'active-tab': activeTab === 2 }"
          (click)="selectTimeDurationDay(2)"
        >
          <span>Day</span>
        </div>
        <div
          class="tabs-container_name"
          [ngClass]="{'active-tab': activeTab === 3 }"
          (click)="selectTimeDurationWeek(3)"
        >
          <span>Week</span>
        </div>
        <div
          class="tabs-container_name"
          [ngClass]="{'active-tab': activeTab === 4 }"
          (click)="selectTimeDurationMonth(4)"
        >
          <span>Month</span>
        </div>
        <div
          class="tabs-container_name"
          [ngClass]="{'active-tab': activeTab === 5, 'disabled': dataYear.length <= 0 }"
          (click)="selectTimeDurationYear(5)"
        >
          <span>Year</span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="isCableKitConnected">NTC1</ion-card-title>
      <ion-card-title *ngIf="!isCableKitConnected">Temperature</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="temp-unit">
        <ion-label item-left>Temperature unit</ion-label>
        <button ion-button item-right color="light" [ngClass]="{'active': tempUnit === 'fTemp'}" (click)="cToF('fTemp')">F</button>
        <button ion-button item-right color="light" [ngClass]="{'active': tempUnit === 'cTemp'}" (click)="fToC('cTemp')">C</button>
      </ion-item>
      <page-temperature-chart [data]="chartData?.temperature" *ngIf="chartData.temperature" [tempType]="tempUnit"></page-temperature-chart>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Volts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <page-volt-chart [data]="chartData?.batteryOrVolts" *ngIf="chartData.batteryOrVolts" [tempType]="tempUnit"></page-volt-chart>
    </ion-card-content>
  </ion-card>
</ion-content>
