<ion-header>
  <ion-navbar>

    <ion-title>SMS action</ion-title>

    <ion-buttons end>
      <button ion-button (click)="save()" color="primary">
        Save
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <ion-list>
    <ion-item>
      <ion-label>Phone number</ion-label>
      <ion-select [(ngModel)]="action.data.phone" [disabled]="!action.enabled">
        <ion-option *ngFor="let phone of phones" [value]="phone">{{ phone }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Message</ion-label>
      <ion-input [(ngModel)]="action.data.title" [disabled]="!action.enabled"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Collect duration</ion-label>
      <ion-select [(ngModel)]="collectDurationUnit">
        <ion-option value="send-immediately">Send immediately</ion-option>
        <ion-option value="Minutes">Minutes</ion-option>
        <ion-option value="Hours">Hours</ion-option>
        <ion-option value="Days">Days</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="collectDurationUnit !== 'send-immediately'">
      <ion-label>{{ collectDurationUnit }}</ion-label>
      <ion-input [(ngModel)]="collectDuration" [disabled]="!action.enabled"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Enabled</ion-label>
      <ion-toggle color="secondary" [(ngModel)]="action.enabled"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
